.container{
    font-size: 1.3rem;
}

.formDiv {
    align-items: center;
    height: 70%;
    padding: 1rem;
    margin: 1rem 20rem 1rem 20rem;
    background-color: white;
    border: 1px solid darkseagreen;
    border-radius: 2rem;
}
.formDiv label{
    font-size: 1.3rem;
}


.warning {
    border: solid red 1px;
    border-radius: 0.2em;
}

.danger {
    font-size: 10px;
    color: red;
    margin-left: 10em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

#searchCountryForm {
    box-sizing: border-box;
    /*background-image: url('searchicon.png');*/
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#searchCountryForm:focus {outline: 3px solid #ddd;}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

