.pageNumbers {
    list-style: none;
    display: flex;
    cursor: pointer;
}

.pageNumbers li {
    padding: 10px;
    border: 1px solid black;


}

.pageNumbers li:active{
    background-color: grey;
    color: black;
}

.pageButton{
    color: black;
    cursor:pointer;
}

.pageButton:hover{
    background-color: darkgrey ;
    color: black;
    border-color: grey;
}



