
.countriesDiv {
    width: 85vw;
    margin: 1rem 4rem 4rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}

.countriesH2 {
    justify-content: center;
    margin-bottom: 3rem;
}