
.countriesDiv {
    width: 85vw;
    /*margin: 1rem 4rem 1rem 4rem;*/
    margin-left: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}

.countriesH2 {
    justify-content: center;
    margin-bottom: 3rem;
    text-shadow: -2px -2px 4px lightslategray;
    font-size: 2.3rem;
}

.pageNumbers {
    display: flex;
    margin: 2rem 46rem 2rem 46rem;
    list-style: none;
    cursor: pointer;
}

.pageNumbers li {
    padding: 10px;
    border: 1px solid black;
}

.pageNumbers li:active{
    background-color: grey;
    color: black;
}

.pageButton{
    color: black;
    cursor:pointer;

}

.pageButton:hover{
    background-color: darkgrey ;
    color: black;
    border-color: grey;
}



