.countryContainer {
    display: flex;
    flex-direction: column;
    /*background-color: #f3f3fb;*/
            /*rgb(238, 238, 238);*/
    border: none;
    border-radius: 20px;
    padding: 25px;
    cursor: pointer;
    transform: translateZ(0);
    transition: 0.25s ease-out;
    box-shadow: 0px 15px 25px lightgrey;
    color: black;
}

.countryContainer:hover {
    transform: scale(1.05);
}

.countryContainer img {
    max-width: 200px;

}